<div class="ui fixed borderless menu">
  <div class="ui container text center aligned">
    <div style="text-align:center">
      <h2>Click on any list of items to get the latest news headlines</h2>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<div class="ui container main">

  <div class="ui grid">
    <div class="four wide column">
      <app-sources-list (selectedSource)="onSelectedSource($event)"></app-sources-list>
    </div>
    <div class="twelve wide column">
      <ng-container *ngIf="selectedSource">
        <app-articles-list [source]="selectedSource"></app-articles-list>
      </ng-container>
    </div>
  </div>

</div>